<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="img/favicon.png">

	<title>RTM</title>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/d3/d3.js"></script>
	<script src="bower_components/nvd3/build/nv.d3.js"></script>
	<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="src/js/viz-dashlet.js"></script>
	<script src="src/js/viz-mgd-widget.js"></script>
	<script src="app.js"></script>

	<link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

	<link rel="stylesheet" href="src/css/viz-dashlet.css">
	<link rel="stylesheet" href="src/css/viz-mgd-widget.css">
	<link rel="stylesheet" href="app.css">

</head>

<body>

	<div ng-app='myApp'>
		<div ng-controller='myCtrl'>
			<nav class="navbar navbar-inverse navbar-fixed-left" role="navigation" style="justify-content: center; text-align: center;">
				<ul class="nav navbar-nav nav-pills nav-stacked">
					<li><img src="src/img/brandlogo.png" height="40px"></li>
					<li><button class="btn btn-primary btn-nav" ng-click="addWidget()"><span class="glyphicon glyphicon-plus glyphicon-app"></span></button></li>
					<li><button class="btn btn-primary btn-nav" ng-click="clearWidgets()"><span class="glyphicon glyphicon-trash glyphicon-app"></span></button></li>
					<li>&nbsp;</li>
					<li><button class="btn btn-primary btn-nav" ng-click="saveDashboard()"><span class="glyphicon glyphicon-floppy-save glyphicon-app"></span></button></li>
					<li><button class="btn btn-primary btn-nav" ng-click="loadDashboard()"><span class="glyphicon glyphicon-floppy-open glyphicon-app"></span></button></li>
					<li><button class="btn btn-primary btn-nav" ng-click="configureDashboard()"><span class="glyphicon glyphicon-cog glyphicon-app"></span></button></li>
					<li>&nbsp;</li>
					<li><button class="btn btn-primary btn-nav" ng-click="sendToDocs()"><span class="glyphicon glyphicon-question-sign glyphicon-app"></span></button></li>
				</ul>
			</nav>
			<div class="well mainwell" style="justify-content: center; text-align: center;">
				
					<div class="row">
						<div ng-repeat="o in widgets">
							<!--<span> wId={{o.widgetId}};</span><span>width={{o.widgetWidth}};</span><span>cWidth={{o.options.chart.width}};</span>-->
							<viz-mgd-widget options="o.options" state="o.defstate" widgetwidth="o.widgetWidth" widgetid="o.widgetId"></viz-mgd-widget>
						</div>
					</div>
				
			</div>
		</div>
	</div>
</body>

</html>