<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="img/favicon.png">

	<title>exense-visualization</title>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/d3/d3.js"></script>
	<script src="bower_components/nvd3/build/nv.d3.js"></script>
	<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="dist/viz.js"></script>

	<script src="static-presets.js"></script>

	<link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

	<link rel="stylesheet" href="src/css/viz-dashlet.css">
	<link rel="stylesheet" href="src/css/viz-mgd-widget.css">
	<link rel="stylesheet" href="src/css/viz-widget-manager.css">

	<script>
		var demoApp = angular.module('demoApp', ['viz-widget-manager'])
			.controller('ctrl', ['$scope', function ($scope) {
				$scope.staticPresetsInstance = new StaticPresets();

				$scope.$on('top.dashboard-new', function () {
					$scope.$broadcast('dashboard-new');
				});
				$scope.$on('top.dashboard-clear', function () {
					$scope.$broadcast('dashboard-clear');
				});

				$scope.$on('top.dashboard-current-addWidget', function () {
					$scope.$broadcast('dashboard-current-addWidget');
				});
				$scope.$on('top.dashboard-current-clearWidgets', function () {
					$scope.$broadcast('dashboard-current-clearWidgets');
				});

				// For saving time in testing
				$scope.$on('dashboard-ready', function () {
					$scope.$broadcast('dashboard-new');
					$scope.$broadcast('dashboard-new');
					$(document).ready(function () {
						$scope.$broadcast('dashboard-current-addWidget');
					});
				});
			}]);

	</script>
</head>

<body>
		<div ng-app='demoApp' ng-controller='ctrl'>
				<span><button class="btn btn-primary btn-nav" ng-click="$emit('top.dashboard-new')">
						<span class="glyphicon glyphicon-file glyphicon-app"></span>
					</button>
					<button class="btn btn-primary btn-nav" ng-click="$emit('top.dashboard-clear')">
						<span class="glyphicon glyphicon-trash glyphicon-app"></span>
					</button>
					<button class="btn btn-primary btn-nav" ng-click="$emit('top.dashboard-current-addWidget')">
						<span class="glyphicon glyphicon-plus glyphicon-app"></span>
					</button>
					<button class="btn btn-primary btn-nav" ng-click="$emit('top.dashboard-current-clearWidgets')">
						<span class="glyphicon glyphicon-minus glyphicon-app"></span>
					</button>
				</span>
				
				<viz-dashboard-manager presets="staticPresetsInstance"></viz-dashboard-manager>
			</div>
</body>

</html>