<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="img/favicon.png">

<title>nvd3 + bootstrap grid</title>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/nvd3/build/nv.d3.js"></script>
<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="src/viz-dashlet.js"></script>
<script src="app.js"></script>

<link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

<link rel="stylesheet" href="src/viz-dashlet.css">
</head>

<body>

<div ng-app='myApp'>
    <div ng-controller='myCtrl'>
    
    
    <div class="container">

		


      <div class="page-header">
        <h1>nvd3 + bootstrap grid on angularJS</h1>
        <p class="lead">Basic grid layout for charts.</p>
      </div>
      
        <div>
            <a class="btn btn-primary" ng-click="addWidget()" href="#">Add Widget</a>
            <a class="btn btn-primary" ng-click="clearWidgets()" href="#">Clear Widgets</a>
        </div>

      <div class="row">
		  

      	<div ng-repeat="o in widgets">	  
			<!--<span> wId={{o.widgetId}};</span><span>width={{o.widgetWidth}};</span><span>cWidth={{o.options.chart.width}};</span>-->
      		<div ng-if="o.widgetWidth == 'col-md-6'">
      		 <div class='col-md-6'>

					<span class="glyphicon glyphicon-arrow-left" ng-click="reduceWidget(o.widgetId)" href="#" style="float: right"></span>
					<span class="glyphicon glyphicon-remove" ng-click="removeWidget(o.widgetId)" href="#" style="float: right"></span>
					<viz-dashlet options='o.options' data='o.data'></viz-dashlet>
					
			</div>
      		</div>
      		<div ng-if="o.widgetWidth == 'col-md-12'">
      		 <div class='col-md-12'>
      				<span class="glyphicon glyphicon-arrow-left" ng-click="reduceWidget(o.widgetId)" href="#" style="float: right"></span>
      				<span class="glyphicon glyphicon-remove" ng-click="removeWidget(o.widgetId)" href="#" style="float: right"></span>
      				<viz-dashlet options='o.options' data='o.data'></viz-dashlet>
			 </div>
      		</div>
            
      	</div>
        
      </div>
      

    </div>
    
   

    
</div>


</body>
</html>
