<div class="form-wrapper">
        <div class="form-group center-block">
            <div class="container innerformcontainer" ng-style="{ width: formwidth+'px'}">
                <div class="row">
                    <div class="col-md-12 colcontain-grid">
                        <div class="btn-group">
                            <label>Main preproc function</label>
                            <textarea ng-model="passedquery.datasource.service.preproc.function" class="form-control" />
                            </div>
                        </div>
                        <div ng-if="passedquery.type == 'Async'">
                            <div class="col-md-12 colcontain-grid">
                                <div class="btn-group">
                                    <label>Replace preproc function</label>
                                    <textarea ng-model="passedquery.datasource.callback.preproc.replace.function" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>