<div ng-style="{height: state.options.innercontainer.height + 5 +'px'}">
    <div class="dashboardtab" ng-show="displaymode === 'managed'">
        <div class="btn-container" ng-if="!state.viewtoggle" style="position: absolute; top: 35px; right: 30px; margin-right:
            5px; margin-top: -3px;">
            <button class="btn btn-primary viz-btn-primary" ng-click="toggleBarchevronToConf()" ng-class="{active : mgrstate.globalsettingsautorefresh}" style="padding: 0px 5px;">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
        </div>

        <div class="btn-container" ng-if="state.viewtoggle" style="position: absolute; top: 35px; right: 30px; margin-right:
            5px; margin-top: -3px;">
            <button class="btn btn-primary viz-btn-primary" ng-click="toggleBarchevronToViz()" ng-class="{active : mgrstate.globalsettingsautorefresh}" style="padding: 0px 5px;">
                <span class="glyphicon glyphicon-stats"></span>
            </button>
        </div>

        <ul ng-show="state.viewtoggle" class="nav nav-tabs">
            <li ng-class="{active : isTabActive(0)}" index="0">
                <a ng-click="selectTab(0)"><span class="glyphicon glyphicon-search glyphicon-viz"></span><span style="margin-left: 5px;">Query</span></a>
            </li>
            <li ng-class="{active : isTabActive(1)}" index="1">
                <a ng-click="selectTab(1)"><span class="glyphicon glyphicon-random glyphicon-viz"></span><span style="margin-left: 5px;">Transform</span></a>
            </li>
            <li ng-class="{active : isTabActive(2)}" index="2">
                <a ng-click="selectTab(2)"><span class="glyphicon glyphicon-adjust glyphicon-viz"></span><span style="margin-left: 5px;">Settings</span></a>
            </li>
            <li ng-class="{active : isTabActive(3)}" index="3">
                <a ng-click="selectTab(3)"><span class="glyphicon glyphicon-info-sign glyphicon-viz"></span><span style="margin-left: 5px;">Status</span></a>
            </li>
        </ul>


        <div ng-show="state.viewtoggle && isTabActive(0)" class="innercontainer" ng-style="{ height: state.options.innercontainer.height+'px'}">
            <viz-query state="state" presets="presets"></viz-query>
        </div>

        <div ng-show="state.viewtoggle && isTabActive(1)" class="innercontainer" ng-style="{ height: state.options.innercontainer.height+'px'}">
            <viz-transform state="state" presets="presets"></viz-transform>
        </div>

        <div ng-show="state.viewtoggle && isTabActive(2)" class="innercontainer" ng-style="{ height: state.options.innercontainer.height+'px'}">
            <viz-config state="state" widgetid="widgetid" presets="presets"></viz-config>
        </div>

        <div ng-show="state.viewtoggle && isTabActive(3)" class="innercontainer" ng-style="{ height: state.options.innercontainer.height+'px'}">
            <viz-info state="state" presets="presets"></viz-info>
        </div>
    </div>
    <div ng-show="!state.viewtoggle || displaymode !== 'managed'" class="innercontainer" ng-style="{ height: state.options.innercontainer.height+'px'}">
        <viz-view state="state" presets="presets"></viz-view>
    </div>
</div>