<div class="form-wrapper">
    <div class="form-group center-block">
        <div class="container innerformcontainer" ng-style="{ width: formwidth+'px'}">

            <div class="row">

                <div class="col-md-4 colcontain-grid">
                    <label>Input type</label>
                    <div class="btn-group viz-btn-group form-radio">
                        <label class="btn btn-primary viz-btn-primary" ng-model="state.query.inputtype" uib-btn-radio="'Raw'">Raw</label>
                        <label class="btn btn-primary viz-btn-primary" ng-model="state.query.inputtype" uib-btn-radio="'Controls'">Controls</label>
                    </div>
                </div>
                <div ng-if="state.query.inputtype == 'Raw'">
                    <div class="col-md-4 colcontain-grid">
                        <label>Preset</label>
                        <div class="btn-group viz-btn-group form-radio" uib-dropdown is-open="lg.status.isopen">
                            <button id="load-query" type="button" class="btn btn-primary viz-btn-primary"
                                uib-dropdown-toggle ng-disabled="disabled">
                                Load query... <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="load-query">
                                <h5 ng-repeat="qp in state.shared.presets.queries" ng-click="loadQueryPreset(qp)">{{qp.name}}</h5>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-if="state.query.inputtype == 'Controls'">
                    <div class="col-md-4 colcontain-grid">
                        <label>Control type</label>
                        <div class="btn-group viz-btn-group form-radio">
                            <label class="btn btn-primary viz-btn-primary" ng-click="initTemplateControls()" ng-model="state.query.controltype"
                                uib-btn-radio="'Template'">Template</label>
                            <label class="btn btn-primary viz-btn-primary" ng-model="state.query.controltype"
                                uib-btn-radio="'RTM'">RTM</label>
                            <label class="btn btn-primary viz-btn-primary" ng-model="state.query.controltype"
                                uib-btn-radio="'STEP'">STEP</label>
                        </div>
                    </div>
                    <div class="col-md-4 colcontain-grid">
                        <label>Preset</label>
                        <div class="btn-group viz-btn-group form-radio" uib-dropdown is-open="lg.status.isopen">
                            <button id="load-controls" type="button" class="btn btn-primary viz-btn-primary"
                                uib-dropdown-toggle ng-disabled="disabled">
                                Load controls... <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="load-query">
                                <div ng-if="state.query.controltype == 'Template'">
                                    <h5 ng-repeat="t in state.shared.presets.controls.templates" ng-click="loadTemplatePreset(t)">{{t.name}}</h5>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-if="state.query.inputtype == 'Controls'">
                    <div ng-if="state.query.controltype == 'Template'">
                        <hr />
                        <div class="col-md-12 colcontain-grid">
                            <key-val-collection collection="state.query.datasource.service.controls.placeholders"
                                collectionname="'Placeholders'"></key-val-collection>
                            <div class="col-md-12 colcontain-grid">
                                <label>Template</label>
                                <div class="btn-group viz-btn-group">
                                    <textarea ng-model="state.query.datasource.service.controls.template.datasource.service.data"
                                        class="form-control" ng-change="$emit('templatePhChange')" />
                                    </div>
                            </div>
                    <div ng-if="state.query.controltype == 'RTM'">
                        <rtm-controls></rtm-controls>
                    </div>
                    <div ng-if="state.query.controltype == 'STEP'">
                        <div class="col-md-12 colcontain-grid">
                            <label>STEP</label>
                            <div class="btn-group viz-btn-group">
                                Not implemented yet
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-12 colcontain-grid">
                    <label>Payload</label>
                    <div class="btn-group viz-btn-group">
                        <textarea type="text" ng-model="state.query.datasource.service.data" class="form-control" />
                    </div>
                </div>
                <div class="col-md-12 colcontain-grid">
                    <label>Query params</label>
                    <div class="btn-group viz-btn-group">
                        <textarea type="text" ng-model="state.query.datasource.service.params" class="form-control" />
                    </div>
                </div>
                <div ng-if="state.query.type == 'Async'">
                    <div class="col-md-12 colcontain-grid">
                        <label>Callback Payload</label>
                        <div class="btn-group viz-btn-group">
                            <textarea  type="text" ng-model="state.query.datasource.callback.data" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>