<div class="row" width="">
    <div class="col-md-6" style="height: 250px;">
        <label>Query:</label>
        <viz-query formwidth="state.options.innercontainer.width" state="state" presets="presets"></viz-query>
    </div>
    <div class="col-md-6" style="height: 250px;">
        <label>Transform:</label>
        <viz-transform formwidth="state.options.innercontainer.width" state="state" presets="presets"></viz-transform>
    </div>
    <div class="col-md-6" style="height: 250px;">
        <label>Config:</label>
        <viz-config formwidth="state.options.innercontainer.width" state="state" widgetid="widgetid" presets="presets"></viz-config>
    </div>
    <div class="col-md-6" style="height: 250px;">
        <label>Info:</label>
        <viz-info state="state" presets="presets"></viz-info>
    </div>
    <div class="col-md-6" style="height: 250px;">
        <label>View:</label>
        <viz-view state="state" presets="presets"></viz-view>
    </div>
</div>