<div class="row">
    <div class="col-md-6" style="display: block;">
        <div style="overflow-y: scroll;">
            <label>Query:</label>
            <viz-query state="state" presets="presets"></viz-query>
        </div>
        <div style="overflow-y: scroll;">
            <label>Transform:</label>
            <viz-transform state="state" presets="presets"></viz-transform>
        </div>
        <div style="overflow-y: scroll;">
            <label>Config:</label>
            <viz-config state="state" widgetid="widgetid" presets="presets"></viz-config>
        </div>
    </div>
    <div class="col-md-6" style="display: block;">
        <div style="overflow-y: scroll;">
            <label>View:</label>
            <viz-view state="state" presets="presets"></viz-view>
        </div>
        <div style="overflow-y: scroll;">
            <label>Info:</label>
            <viz-info state="state" presets="presets"></viz-info>
        </div>
    </div>
</div>