<span ng-class="{hide: isPagingOff()}" class="glyphicon glyphicon-menu-left glyphicon-viz paging btn btn-primary viz-btn-primary"
    style="float: left !important; margin-left: 5px; margin-top: 5px;" ng-click="$emit('fireprevious')"></span>
<span ng-class="{hide: isPagingOff()}" class="glyphicon glyphicon-menu-right glyphicon-viz paging btn btn-primary viz-btn-primary"
    style="float: right !important; margin-right: 40px !important; margin-top: 5px;" ng-click="$emit('firenext')"></span>
<div ng-if="state.options.chart.type === 'table'" class="tablecontain" ng-style="{height: state.options.chart.height + 'px'}">
    <table class="table" ng-style="{width:state.options.chart.width + 'px'}">
        <thead>
            <tr>
                <th>xAxis</th>
                <th ng-repeat="z in tableData.zlist">{{z}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in tableData.data">
                <td><label data-ng-bind="formatPotentialTimestamp(row.x)" /></td>
                <td ng-repeat="series in tableData.zlist">
                    {{row['values'][series]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-if="state.options.chart.type.endsWith('Chart')" class="chartcontainer">
    <nvd3 options="state.options" api="indirection.api" data="chartData" config="{refreshDataOnly: false, deepWatchDataDepth: 0}"
        style="text-align: center; justify-content: center;"></nvd3>
</div>