<div class="well mainwell">
    <div class="dashboardtab">
        <ul ng-click="saveState()" vertical="false" justified="true" class="nav nav-tabs">
            <li ng-class="{active : isTabActive(d.dashboardid)}" index="d.dashboardid" ng-repeat="d in dashboards track by d.dashboardid"
                style="display: inline-flex;">
                <a ng-click="selectTab(d.dashboardid)">{{d.title}} : {{d.dashboardid}}</a>
                <ul class="ul-control-d">
                    <li class="li-control-d">
                        <span class="glyphicon glyphicon-remove glyphicon-control-d" ng-click="$emit('removeDashboard', d.dashboardid)"
                            href="#"></span>
                    </li>
                </ul>
            </li>
        </ul>

        <div ng-repeat="d in dashboards track by d.dashboardid">
            <div ng-if="d.dashboardid === mgrtabstate">
                <viz-widget-manager presets="presets" dashboard="d" mgrstate="d.mgrstate"></viz-widget-manager>
            </div>
        </div>
    </div>
</div>