<div class="well secondwell" style="justify-content: center; text-align: center;">
    <div class="row">
        <ul class="ul-control-g">
            <li class="li-title">
                <span ng-if="mgrstate.globalsettingschevron" class="title glyphicon glyphicon-chevron-down glyphicon-control" ng-click="toggleChevron()"
                    href="#" style="margin: 0px; padding: 0px; margin-left: -8px;"></span>
                <span ng-if="!mgrstate.globalsettingschevron" class="title glyphicon glyphicon-chevron-right glyphicon-control" ng-click="toggleChevron()"
                    href="#" style="margin: 0px; padding: 0px; margin-left: -8px;"></span>
                <span>Global settings</span>
            </li>
            <li class="li-control-g">
                <div class="btn-container">
                    <button class="btn btn-primary viz-btn-primary" ng-click="$broadcast('refreshglobal')"><span class="glyphicon glyphicon-refresh"></span></button>
                </div>
            </li>
        </ul>
        <div class="form-wrapper">
            <div class="form-group left-block">
                <div class="container settingsformcontainer">
                    <div class="row">
                        <div class="col-md-12 colcontain-grid">
                            <key-val-collection ng-if="mgrstate.globalsettingschevron" collection="mgrstate.globalsettings" collectionname="mgrstate.globalsettingsname"></key-val-collection>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div ng-repeat="o in widgets track by o.widgetId">
            <viz-mgd-widget state="o.state" widgetwidth="o.widgetWidth" widgetid="o.widgetId" dashboardid="dashboard.dashboardid"></viz-mgd-widget>
        </div>
    </div>

</div>