<uib-accordion>
    <div uib-accordion-group class="panel-default viz-panel-default" heading="Presets" is-open="presets.status.isFirstOpen"
        is-disabled="status.isFirstDisabled">
        <div class="form-wrapper">
            <div class="form-group center-block">
                <div class="container innerformcontainer" ng-style="{ width: formwidth+'px'}">
                    <div class="row">
                        <div class="colmdstyle col-md-12 colcontain-contents">
                            <div class="btn-group viz-btn-group form-radio" uib-dropdown is-open="display.status.isopen">
                                <button id="load-config" type="button" class="btn btn-primary viz-btn-primary"
                                    uib-dropdown-toggle ng-disabled="disabled">
                                    Load config... <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="load-config">
                                    <h5 ng-repeat="c in state.presets.configs" ng-click="loadConfigPreset(c)">{{c.name}}</h5>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</uib-accordion>
<uib-accordion>
    <div uib-accordion-group class="panel-default viz-panel-default" heading="Display" is-open="config.status.isFirstOpen"
        is-disabled="config.status.isFirstDisabled">
        <div class="form-wrapper">
            <div class="form-group center-block">
                <div class="container innerformcontainer" ng-style="{ width: formwidth+'px'}">
                    <div class="row">
                        <div class="colmdstyle col-md-12 colcontain-grid">
                            <label>Viz type</label>
                            <div class="btn-group viz-btn-group form-radio">
                                <label class="btn btn-primary viz-btn-primary" ng-model="state.shared.options.chart.type"
                                    uib-btn-radio="'table'">table</label>
                                <label class="btn btn-primary viz-btn-primary" ng-model="state.shared.options.chart.type"
                                    uib-btn-radio="'lineChart'">lineChart</label>
                                <label class="btn btn-primary viz-btn-primary" ng-model="state.shared.options.chart.type"
                                    uib-btn-radio="'multiBarChart'">multiBarChart</label>
                                <label class="btn btn-primary viz-btn-primary" ng-model="state.shared.options.chart.type"
                                    uib-btn-radio="'scatterChart'">scatterChart</label>
                                <label class="btn btn-primary viz-btn-primary" ng-model="state.shared.options.chart.type"
                                    uib-btn-radio="'discreteBarChart'">discreteBarChart</label>
                            </div>
                        </div>
                        <div class="colmdstyle col-md-3 colcontain-grid">
                            <label>Autorefresh</label>
                            <div class="btn-group viz-btn-group form-radio">
                                <label class="btn btn-primary viz-btn-primary" ng-model="state.shared.config.autorefresh"
                                    uib-btn-radio="'On'" ng-click="$emit('autorefresh-toggle', {newValue : true})">On</label>
                                <label class="btn btn-primary viz-btn-primary" ng-model="state.shared.config.autorefresh"
                                    uib-btn-radio="'Off'" ng-click="$emit('autorefresh-toggle', {newValue : false})">Off</label>
                            </div>
                        </div>
                        <div class="colmdstyle col-md-3 colcontain-grid">
                            <label>Show legend</label>
                            <div class="btn-group viz-btn-group form-radio">
                                <label class="btn btn-primary viz-btn-primary" ng-model="state.shared.options.chart.showLegend"
                                    uib-btn-radio="true">On</label>
                                <label class="btn btn-primary viz-btn-primary" ng-model="state.shared.options.chart.showLegend"
                                    uib-btn-radio="false">Off</label>
                            </div>
                        </div>
                        <div class="colmdstyle col-md-12 colcontain-grid">
                            <label>Dashlet title</label>
                            <div class="btn-group viz-btn-group form-radio">
                                <input class="form-control" ng-model="state.shared.config.dashlettitle" ng-change="$emit('dashlet-title', {newValue : state.shared.config.dashlettitle})" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</uib-accordion>
<uib-accordion>
    <div uib-accordion-group class="panel-default viz-panel-default" heading="Coms" is-open="config.status.isFirstOpen"
        is-disabled="config.status.isFirstDisabled">
        <div class="form-wrapper">
            <div class="form-group center-block">
                <div class="container innerformcontainer" ng-style="{ width: formwidth+'px'}">
                    <div class="row">
                        <div class="colmdstyle col-md-3 colcontain-grid">
                            <label>Master / Slave</label>
                            <div class="btn-group viz-btn-group form-radio">
                                <span class="key-val-collection btn btn-primary viz-btn-primary" href="#">
                                    <input type="checkbox" class="form-control" ng-model="state.shared.config.master"
                                        style="width: 15px; height: 15px; padding: 0px; margin-top: 2px; margin-bottom: 2px;"
                                        ng-change="toggleMaster()" />
                                </span>
                                <label class="btn btn-primary viz-label" ng-class="{ active: state.shared.config.master}">Make
                                    master</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</uib-accordion>