<div class="well secondwell" style="justify-content: center; text-align: center;">
    <div class="row" ng-show="displaymode === 'managed'">
        <ul class="ul-control ul-control-alt">
            <li class="li-title" style="display: inline-flex;">
                <div class="btn-container" ng-show="mgrstate.globalsettingschevron">
                    <button class="btn btn-success viz-btn-success" ng-click="toggleChevron()" style="margin: 0px; padding: 0px;"
                        uib-tooltip="Collapse settings" tooltip-placement="right">
                        <span class="title glyphicon glyphicon-chevron-down glyphicon-control viz-chevron-span"></span>
                    </button>
                </div>
                <div class="btn-container" ng-show="!mgrstate.globalsettingschevron">
                    <button class="btn btn-success viz-btn-success viz-chevron-button" ng-click="toggleChevron()" style="margin: 0px; padding: 0px;"
                        uib-tooltip="Expand settings" tooltip-placement="right">
                        <span class="title glyphicon glyphicon-chevron-right glyphicon-control viz-chevron-span"></span>
                    </button>
                </div>
                <div class="btn-container">
                    <span class="title">Global settings</span>
                </div>
            </li>
            <li class="li-control li-control-alt" style="margin-right: 3px;">
                <div class="btn-container">
                    <button class="btn btn-success viz-btn-success" ng-click="toggleAutorefresh()" ng-class="{active : mgrstate.globalsettingsautorefresh}"><span
                            class="glyphicon glyphicon-refresh" uib-tooltip="Turn on autorefresh"></span></button>
                </div>
            </li>
        </ul>
        <div class="form-wrapper">
            <div class="form-group left-block">
                <div class="container settingsformcontainer">
                    <div class="row">
                        <div class="col-md-12 colcontain-grid">
                            <key-val-collection ng-show="mgrstate.globalsettingschevron" collection="mgrstate.globalsettings"
                                collectionname="mgrstate.globalsettingsname"></key-val-collection>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div ng-repeat="o in wwrap.getAsArray() track by o.oid">
            <viz-mgd-widget ng-if="displaytype !== 'exploded'" displaymode="displaymode" state="o.state" wstate="o.wstate"
                widgetid="o.oid" headersheightinput="topmargin" charttocontainerinput="" presets="presets"></viz-mgd-widget>
            <viz-dashlet ng-if="displaytype === 'exploded'" state="o.state" widgetid="'explorationDashlet'" displaytype="'exploded'"
                displaymode="exploration" presets="presets"></viz-dashlet>
        </div>
    </div>
</div>