<div class="dashboardtab" ng-style="{height: state.shared.options.innercontainer.height + 5 +'px'}">
    <span ng-if="!state.shared.config.barchevron" style="position: absolute; top: 35px; right: 30px; margin-right: 5px; margin-top: 3px;"
        class="title glyphicon glyphicon-cog glyphicon-viz" ng-click="toggleBarchevronToConf()" href="#" style="margin: 0px; padding: 0px; margin-left: -8px;"></span>
    <span ng-if="state.shared.config.barchevron" style="position: absolute; top: 35px; right: 30px; margin-right: 5px; margin-top: 3px;"
        class="title glyphicon glyphicon-stats glyphicon-viz" ng-click="toggleBarchevronToViz()" href="#" style="margin: 0px; padding: 0px; margin-left: -8px;"></span>

    <ul ng-show="state.shared.config.barchevron" class="nav nav-tabs">
        <li ng-class="{active : isTabActive(0)}" index="0">
            <a ng-click="selectTab(0)"><span class="glyphicon glyphicon-search glyphicon-viz"></span><span style="margin-left: 5px;">Query</span></a>
        </li>
        <li ng-class="{active : isTabActive(1)}" index="1">
            <a ng-click="selectTab(1)"><span class="glyphicon glyphicon-random glyphicon-viz"></span><span style="margin-left: 5px;">Transform</span></a>
        </li>
        <li ng-class="{active : isTabActive(2)}" index="2">
            <a ng-click="selectTab(2)"><span class="glyphicon glyphicon-adjust glyphicon-viz"></span><span style="margin-left: 5px;">Settings</span></a>
        </li>
        <li ng-class="{active : isTabActive(3)}" index="3">
            <a ng-click="selectTab(3)"><span class="glyphicon glyphicon-info-sign glyphicon-viz"></span><span style="margin-left: 5px;">Status</span></a>
        </li>
    </ul>

    <div ng-show="state.shared.config.barchevron && isTabActive(0)" class="innercontainer" ng-style="{ height: state.shared.options.innercontainer.height+'px'}">
        <viz-query formwidth="state.shared.options.innercontainer.width" state="state"></viz-query>
    </div>

    <div ng-show="state.shared.config.barchevron && isTabActive(1)" class="innercontainer" ng-style="{ height: state.shared.options.innercontainer.height+'px'}">
        <viz-transform formwidth="state.shared.options.innercontainer.width" state="state"></viz-transform>
    </div>

    <div ng-show="state.shared.config.barchevron && isTabActive(2)" class="innercontainer" ng-style="{ height: state.shared.options.innercontainer.height+'px'}">
        <viz-config formwidth="state.shared.options.innercontainer.width" state="state" widgetid="widgetid"></viz-config>
    </div>

    <div ng-show="state.shared.config.barchevron && isTabActive(3)" class="innercontainer" ng-style="{ height: state.shared.options.innercontainer.height+'px'}">
        <viz-info state="state"></viz-info>
    </div>

    <div ng-show="!state.shared.config.barchevron" class="innercontainer" ng-style="{ height: state.shared.options.innercontainer.height+'px'}">
        <viz-view state="state"></viz-view>
    </div>
</div>