<uib-accordion>
    <div uib-accordion-group class="panel-default viz-panel-default" heading="Execution" is-open="testing.status.isFirstOpen" is-disabled="testing.status.isFirstDisabled">
        <div class="form-wrapper">
            <div class="form-group center-block">
                <div class="container innerformcontainer" ng-style="{ width: formwidth+'px'}">

                    <div class="row">

                        <div class="colmdstyle col-md-4 colcontain-grid">
                            <label>Fire query</label>
                            <div class="btn-container">
                                <button class="btn btn-primary viz-btn-primary" ng-click="$emit('firequery', {})"><span class="glyphicon glyphicon-ok"></span></button>
                            </div>

                        </div>
                        <div class="colmdstyle col-md-12 colcontain-grid">
                            <label>Service request</label>
                            <div class="btn-container">
                                <div class="well well-lg innerwell">{{state.http.servicesent}}</div>
                            </div>
                        </div>
                        <div class="colmdstyle col-md-12 colcontain-grid">
                            <label>Service response</label>
                            <div class="btn-container">
                                <div class="well well-lg innerwell">{{state.http.rawserviceresponse}}</div>
                            </div>
                        </div>

                        <div ng-if="state.query.type == 'Async'">
                            <div class="colmdstyle col-md-12 colcontain-grid">
                                <label>Callback request</label>
                                <div class="btn-container">
                                    <div class="well well-lg innerwell">{{state.http.callbacksent}}</div>
                                </div>
                            </div>
                            <div class="colmdstyle col-md-12 colcontain-grid">
                                <label>Callback response</label>
                                <div class="btn-container">
                                    <div class="well well-lg innerwell">{{state.http.rawcallbackresponse}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</uib-accordion>
<uib-accordion>
    <div uib-accordion-group class="panel-default viz-panel-default" heading="Info" is-open="infoalert.status.isFirstOpen"
        is-disabled="infoalert.status.isFirstDisabled">
        <div class="form-wrapper">
            <p class="form-group">
                <label>Alerts</label>
                <div class="well well-lg innerwell">message...</div>
            </p>

        </div>
    </div>
</uib-accordion>