<div ng-if="widgetwidth == 'col-md-6'">
        <div class='col-md-6'>
                <viz-mgd-widget-content options='options' data='data' state='currentstate' widgetwidth="widgetwidth" widgetid="widgetid"></viz-mgd-widget-content>
        </div>
</div>
<div ng-if="widgetwidth == 'col-md-12'">
        <div class='col-md-12'>
                <viz-mgd-widget-content options='options' data='data' state='currentstate' widgetwidth="widgetwidth" widgetid="widgetid"></viz-mgd-widget-content>
        </div>
</div>