<div class="row" style="width: 99%;">
    <div class="col-md-6" style="display: block;">
        <label>Query:</label>
        <viz-query state="state" presets="presets"></viz-query>
        <label>Transform:</label>
        <viz-transform state="state" presets="presets"></viz-transform>
        <label>Config:</label>
        <viz-config state="state" widgetid="widgetid" presets="presets"></viz-config>
    </div>
    <div class="col-md-6" style="display: block;">
        <div style="display: block;">
            <label>Info:</label>
            <viz-info state="state" presets="presets"></viz-info>
        </div>
        <div style="display: block;">
            <label>View:</label>
        </div>
        <div style="display: block; overflow: auto;">
            <viz-view state="state" presets="presets" customheight="viewheight"></viz-view>
        </div>
    </div>
</div>