<div ng-if="state.shared.options.chart.type === 'table'" class="tablecontain" ng-style="{height: state.shared.options.chart.height + 'px'}">
    <table class="table" ng-style="{width:state.shared.options.chart.width + 'px'}">
        <thead>
            <tr>
                <th>x</th>
                <th ng-repeat="z in tableData.zlist">{{z}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in tableData.data">
                <td>{{row.x}}</td>
                <td ng-repeat="series in tableData.zlist">
                    {{row['values'][series]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-if="state.shared.options.chart.type.endsWith('Chart')" class="chartcontainer">
    <nvd3 options='state.shared.options' data='chartData' style="text-align: center; justify-content: center;"></nvd3>
</div>