<div class="well mainwell">
    <ul active="mgrtabstate" ng-click="saveState()" vertical="false" justified="true" class="nav nav-tabs dashboardtab">
        <li index="d.dashboardid" ng-repeat="d in dashboards track by d.dashboardid">
            <a ng-click="selectTab(d.dashboardid)">{{d.title}} : {{d.dashboardid}}</a>
            <ul class="ul-control-d">
                <li class="li-control-d">
                    <span class="glyphicon glyphicon-remove glyphicon-control-d" ng-click="$emit('removeDashboard', d.dashboardid)"
                        href="#"></span>
                </li>
            </ul>
        </li>
    </ul>

    <div ng-repeat="d in dashboards track by d.dashboardid">
        <div ng-if="d.dashboardid === mgrtabstate" >{{d.dashboardid}} === {{mgrtabstate}}
                <viz-widget-manager presets="presets" dashboard="d"></viz-widget-manager>
        </div>
    </div>
</div>