<div ng-if="widgetwidth == 'col-md-6'">
        <div class='col-md-6'>
                <span class="glyphicon glyphicon-arrow-right" ng-click="extendWidget(widgetid)" href="#" style="float: right"></span>
                <span class="glyphicon glyphicon-remove" ng-click="removeWidget(widgetid)" href="#" style="float: right"></span>
                <viz-dashlet options='options' data='data'></viz-dashlet>
        </div>
</div>
<div ng-if="widgetwidth == 'col-md-12'">
        <div class='col-md-12'>
                <span class="glyphicon glyphicon-arrow-left" ng-click="reduceWidget(widgetid)" href="#" style="float: right"></span>
                <span class="glyphicon glyphicon-remove" ng-click="removeWidget(widgetid)" href="#" style="float: right"></span>
                <viz-dashlet options='  options' data='data'></viz-dashlet>
        </div>
</div>

</div>