.dashletcontainer {
    margin-top: 20px;
    border: 1px solid #ddd;
}

.glyphicon-control{
    color: rgb(0, 240, 0);
    margin: 5px;
    padding: 1px;
}

.glyphicon-control:hover{
    background-color: rgb(68, 247, 68);
    color: white;
}

.ul-control {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  .li-title {
    float: left;
    margin-left: 10px;
    padding: 5px;
    color: white;
  }
  
.li-control {
    float: right;
    margin-left: 3px;
  }
