.dashletcontainer {
    margin-top: 20px;
}

.glyphicon-control{
    font-size: 1.5em;
    background-color: rgb(0, 172, 0);
    color: white;
}

.glyphicon-control:hover{
    font-size: 1.7em;
    background-color: rgb(68, 247, 68);
    color: white;
}

.ul-control {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  .li-title {
    float: center;
    color: white;
  }
.li-control {
    float: right;
    margin-left: 5px;
  }
