
  .mainwell {
    padding: 2px;
    margin: 2px;
    border-color: transparent !important;
    background-color: transparent !important;
    background-image: none;
  }

  .secondwell {
    margin: 5px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: transparent !important;
    background-color: transparent !important;
    background-image: none;
  }

  .subcontainer {
    text-align: center !important;
    justify-content: center !important;
    margin-left: 0;
    margin-right: 0 !important;
  }


.glyphicon-app {
    color: white !important;
    font-size: 1.2em !important;
}

.glyphicon-app:hover {
    background-color: lime !important;
}

.viz-btn-nav {
    background-color: rgb(0, 240, 0) !important;
}

.viz-btn-nav:hover {
    background-color: rgb(0, 255, 106) !important;
}

div.dashboardtab > ul > li{
  margin-right: 5px !important;
  margin-left: 0px !important;
  padding: 3px !important;
  background-color: white !important;
  color: rgb(0, 240, 0) !important;
  border: 1px solid #333333 !important;
}

div.dashboardtab > ul > li > a{
  color: rgb(0, 240, 0) !important;
  border: none !important;
  padding: 0 !important;
}

div.dashboardtab > ul > li > a:hover{
  color: white !important;
  background-color: rgb(0, 255, 106) !important;
}

div.dashboardtab > ul > li.active, div.dashboardtab > ul > li.active > a{
  color: white !important;
  background-color: rgb(0, 240, 0) !important;
}

div.dashboardtab > ul > li > a {
  text-decoration: none !important;
}
.colmdstyle{
	position: relative !important;
	min-height: 1px !important;
	padding-right: 2px !important;
  padding-left: 2px !important;
}

ul.ul-control-d {
  float: right;
  margin-top: -1px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.ul-control-g {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  background-color: #333333 !important;
  height: 30px !important;
}

.left-block{
  margin: 0;
  padding: 0;
  display: inline !important;
}

.settingsformcontainer {
  margin: 0;
  padding: 0;
  text-align: left;
  justify-content: left;
  width: 100% !important;
}

span.text-g{
  color: black;
}

li.li-control-g {
  float: right;
}

li.li-control-g > * > button{
  padding: 1px 3px;
  margin-top: 2px;
  margin-right: 2px;
}
  
.li-control-d {
  float: right;
  margin-left: 3px;
}

.glyphicon-control-d{
  color: rgb(0, 240, 0);
  margin: 0px;
  padding: 1px;
}

.glyphicon-control-d:hover{
  background-color: #333333;
  color: rgb(0, 255, 106);
}

div.dashboardtab > ul > li.active > ul > li > span.glyphicon-control-d {
  color: white;
}
