.glyphicon-viz {
    color:  rgb(0, 240, 0);
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.2em;
}

.glyphicon-viz:hover {
    color: rgb(68, 247, 68);
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.2em;
}

svg.nvd3-svg{
    display: inline !important;
}

.innercontainer {
    overflow-y: auto;
    overflow-wrap: break-word;
}
.innerwell {
    margin-left: 0;
}

.tab-content {
    border: 1px solid #333333;
    margin-top: -1px;
    padding: 10px;
}

.nav-link {
    border: 1px solid #333333;
    padding: 5px !important;
}

ul {
    border: 1px solid #333333;
    margin-top: -1px;
}

.nav-tabs > li > a{
    border: none !important;
}

li.uib-tab {
    border: 1px solid #333333 !important;
    margin-left: -1px;
}

li.active > a, li.active {
    background-color: rgb(60, 240, 60) !important;
    color: white;
    border: none;
}

li.active > a > uib-tab-heading > span{
    color: white !important;
}

.btn-dashlet {
    background-color: rgb(0, 240, 0) !important;
    margin: 5px;
    margin-bottom: 15px;
}

.btn-container{
    justify-content: right;
    text-align: right;
}

.btn-dashlet:hover {
    background-color: rgb(0, 255, 106) !important;
}

.form-wrapper {
    margin-top: 10px;
}
