.glyphicon-viz {
    color:  rgb(0, 240, 0);
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.2em;
}

.glyphicon-viz:hover {
    color: rgb(68, 247, 68);
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.2em;
}

svg.nvd3-svg{
    display: inline !important;
}

.viz-panel-body {
    padding: 0 !important;
}

.innercontainer {
    overflow-y: auto;
    overflow-wrap: break-word;
    justify-content: center;
    text-align: center;
}

.chartcontainer{
display: table-cell;
vertical-align: middle;
text-align: center;
margin-top: 20px;
overflow-y: auto;
overflow-wrap: break-word;
}

.tablecontain{
    display: inline-block;
    text-align: left;
    justify-content: center;
    margin-top: 20px;
    vertical-align: middle !important;
}

.dashletbox{
text-align: center;
justify-content: center;
vertical-align: middle;
}

.innerwell {
    margin-left: 0;
}

div.ul-viewtab > div.tab-content {
    padding: 0px;
    margin: 0px;
}

div.dashlet > * > .nav-link {
    border: 1px solid #ddd !important;
    padding: 5px !important;
}

ul.ul-control  {
    border: 1px solid #ddd !important;
    margin-top: -1px !important;
}

div.ul-viewtab > ul{
    border: 1px solid #ddd !important;
}

div.dashlet > ul > li.active > a, div.dashlet > ul > li.active > a > uib-tab-heading > span{
    background-color: rgb(60, 240, 60) !important;
    color: white !important;
}
div.dashlet > ul > li > a, div.dashlet > ul > li.active > a, div.dashlet > ul > li > a:hover{
    border: 1px solid #ddd !important;
    padding: 2px 6px !important;
}

div.viz-panel-default > * >  h4.panel-title{
    color: black !important;
    text-decoration: none !important;
}

div.viz-panel-default > * > h4.panel-title > a:hover, div.viz-panel-default > * > h4.panel-title > a.active{
    text-decoration: none !important;
    background-color: rgb(0, 255, 106) !important;
    text-decoration: none !important;
    color: white !important;
}

div.viz-panel-default >  div.panel-heading{
    margin: 0;
    padding: 0;
}

label.viz-label{
    height: 25px !important;
    padding-top: 5px !important;
    background-color: rgb(0, 240, 0) !important;
    font-weight: bold;
}

label.viz-label:hover{
    background-color:rgb(0, 240, 0) !important;
}

label.viz-label.active:hover{
    background-color:green !important;
}

.viz-btn-primary{
    background-color: rgb(0, 240, 0) !important;
    font-weight: bold;
}

.viz-btn-primary:hover, .viz-panel-group:hover{
    background-color:rgb(0, 255, 106) !important;
}

.viz-btn-primary.active{
    background-color:green !important;
}

.viz-btn-dashlet {
    background-color: rgb(0, 240, 0) !important;
    margin: 5px;
    margin-bottom: 15px;
}

.viz-btn-container{
    justify-content: right;
    text-align: right;
}

.viz-btn-dashlet:hover {
    background-color: rgb(0, 255, 106) !important;
}

.form-wrapper {
    margin-top: 10px;
}

.form-group{
    text-align: center !important;
    justify-content: center !important;
}

.center-block{
    margin: 0;
    padding: 0;
    width: 100% !important;
    display: inline-flex !important;;
}

.colcontain-grid{
    display: inline-grid;
}

.colcontain-contents{
    display: contents;
}

.innerformcontainer {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.innerformcontainer > .row {
    margin: 0;
    padding: 2;
    text-align: left;
    justify-content: left;
}

div.form-radio > label.btn, div.form-radio > button{
    padding: 2px 4px;
    font-size: 10px;
}

.viz-btn-group{
    margin-top: 5px !important;
    display: block !important;
}