<div class="row">
  <label>Service parameters</label>
</div>

<ul class="nav nav-tabs .rtm-ul">
  <li class="rtm-li" ng-class="{'rtm-li-active' : isTabActive(0), 'rtm-li-inactive' : !isTabActive(0)}" index="0">
    <a ng-click="selectTab(0)"><span style="margin-left: 5px;">Grouping</span></a>
  </li>
  <li class="rtm-li" ng-class="{'rtm-li-active' : isTabActive(1), 'rtm-li-inactive' : !isTabActive(1)}" index="1">
    <a ng-click="selectTab(1)"><span style="margin-left: 5px;">Fields</span></a>
  </li>
  <li class="rtm-li" ng-class="{'rtm-li-active' : isTabActive(2), 'rtm-li-inactive' : !isTabActive(2)}" index="2">
    <a ng-click="selectTab(2)"><span style="margin-left: 5px;">Perf</span></a>
  </li>
</ul>

<div class="row" ng-show="isTabActive(0)">
  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">interval</label>
    <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.granularity']">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">groupby</label>
    <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.groupby']">
  </div>
</div>
<div class="row" ng-show="isTabActive(1)">
  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">time field</label>
    <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.timeField']">
  </div>

  <div class=" col-md-2" style="display: block;">
    <label class="rtm-label">time fmt</label>
    <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.timeFormat']">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">value fld</label>
    <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.valueField']">
  </div>
</div>
<div class="row" ng-show="isTabActive(2)">

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">threads</label>
    <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.cpu']">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">tasks</label>
    <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.partition']">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">timeout</label>
    <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.timeout']">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">hist size</label>
    <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.histSize']">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">hist app</label>
    <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.histApp']">
  </div>
</div>