<div style="height: calc(30vh - 40px); overflow-y: scroll;">

    <label class="col-md-12" style="background-color: #337AB7; color: white; text-align: center;">RTM Controls</label>


    <div class="btn-group viz-btn-group form-radio" style="display: block">
        <div class="" style="display: block">
            <label>Selectors</label>
        </div>
        <button class="btn btn-success viz-btn-success" ng-click="addSelector()">Add Selector</button>
        <button class="btn btn-danger viz-btn-success" ng-click="clearAll()">Clear All</button>
    </div>

    <div class="col-md-12 colcontain-grid" ng-repeat="selector in payload.selectors1">
        <rtm-selector textfilters="selector.textFilters" numericalfilters="selector.numericalFilters" />
        <span class="btn-group-xs" style="position: absolute; right: 0;"><button type="submit"
                class="btn btn-danger viz-btn-success" ng-click="removeSelector($index)"><span style="padding: 0; margin: 0; font-size: 10px !important;" class="glyphicon glyphicon-remove glyphicon-app"></span></button></span></th>
    </div>
    <div class="col-md-12 colcontain-grid">
        <rtm-service-params params="payload.serviceParams">
    </div>

</div>