<div class="col-md-12 colcontain-grid">
  <div class="row" style="display: block; text-align: left;">

    <div class="col-md-4 colcontain-grid">
      <label>Query type</label>
      <div class="btn-group viz-btn-group form-radio">
        <label class="btn btn-success viz-btn-success" ng-model="query.controls.querytype" uib-btn-radio="'rawvalues'">Raw values</label>
        <label class="btn btn-success viz-btn-success" ng-model="query.controls.querytype" uib-btn-radio="'aggregates'">Aggregates</label>
        <!-- todo -->
        <!--<label class="btn btn-success viz-btn-success" ng-model="query.controls.querytype" uib-btn-radio="'lastn'">Last N values</label>-->
      </div>
    </div>

    <div class="col-md-6 colcontain-grid">
      <label>Metrics</label>
      <div class="row">
        <div class="col-md-4" style="display: block;">
          <label class="rtm-label">Chart metric</label>
          <div style="display: flex;">
            <input type="text" class="form-control rtm-input" ng-model="query.datasource.callback.postproc.transform.args[0].value">
            <div class="btn-group rtm-dropdown form-radio" uib-dropdown is-open="chart-metrics.status.isopen">
              <button id="chart-metrics" type="button" class="btn btn-primary viz-btn-success" uib-dropdown-toggle
                ng-disabled="disabled">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="chart-metrics">
                <li role="menuitem" ng-click="setChartMetric('cnt')"><a>count</a></li>
                <li role="menuitem" ng-click="setChartMetric('avg')"><a>average</a></li>
                <li role="menuitem" ng-click="setChartMetric('min')"><a>min</a></li>
                <li role="menuitem" ng-click="setChartMetric('max')"><a>max</a></li>
                <li role="menuitem" ng-click="setChartMetric('pcl50')"><a>median</a></li>
                <li role="menuitem" ng-click="setChartMetric('tps')"><a>count / sec</a></li>
                <li role="menuitem" ng-click="setChartMetric('tpm')"><a>count / min</a></li>
                <li role="menuitem" ng-click="setChartMetric('pcl80')"><a>80th pcl</a></li>
                <li role="menuitem" ng-click="setChartMetric('pcl90')"><a>90th pcl</a></li>
                <li role="menuitem" ng-click="setChartMetric('pcl99')"><a>99th pcl</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4" style="display: block;">
          <label class="rtm-label">Table metrics</label>
          <div ng-dropdown-multiselect="" options="aggregatemetrics" selected-model="example14model" checkboxes="true"
            extra-settings="example14settings"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="row" style="display: block; text-align: left;">
    <div class="col-md-12 colcontain-grid">
      <label>Service parameters</label>
      <ul class="nav nav-tabs .rtm-ul">
        <li class="rtm-li" ng-class="{'rtm-li-active' : isTabActive(1), 'rtm-li-inactive' : !isTabActive(1)}" index="1">
          <a ng-click="selectTab(1)"><span style="margin-left: 5px;">Grouping</span></a>
        </li>
        <li class="rtm-li" ng-class="{'rtm-li-active' : isTabActive(2), 'rtm-li-inactive' : !isTabActive(2)}" index="2">
          <a ng-click="selectTab(2)"><span style="margin-left: 5px;">Fields</span></a>
        </li>
        <li class="rtm-li" ng-class="{'rtm-li-active' : isTabActive(3), 'rtm-li-inactive' : !isTabActive(3)}" index="0">
          <a ng-click="selectTab(3)"><span style="margin-left: 5px;">Perf</span></a>
        </li>
      </ul>

      <div class="row" ng-show="isTabActive(1)">
        <div class="col-md-2" style="display: block;">
          <label class="rtm-label">interval</label>
          <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.granularity']">
        </div>

        <div class="col-md-2" style="display: block;">
          <label class="rtm-label">groupby</label>
          <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.groupby']">
        </div>
      </div>
      <div class="row" ng-show="isTabActive(2)">
        <div class="col-md-2" style="display: block;">
          <label class="rtm-label">time field</label>
          <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.timeField']">
        </div>

        <div class=" col-md-2" style="display: block;">
          <label class="rtm-label">time fmt</label>
          <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.timeFormat']">
        </div>

        <div class="col-md-2" style="display: block;">
          <label class="rtm-label">value fld</label>
          <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.valueField']">
        </div>
      </div>

      <div class="row" ng-show="isTabActive(3)">
        <div class="col-md-2" style="display: block;">
          <label class="rtm-label">threads</label>
          <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.cpu']">
        </div>

        <div class="col-md-2" style="display: block;">
          <label class="rtm-label">tasks</label>
          <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.partition']">
        </div>

        <div class="col-md-2" style="display: block;">
          <label class="rtm-label">timeout</label>
          <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.timeout']">
        </div>

        <div class="col-md-2" style="display: block;">
          <label class="rtm-label">hist size</label>
          <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.histSize']">
        </div>

        <div class="col-md-2" style="display: block;">
          <label class="rtm-label">hist app</label>
          <input type="text" class="form-control rtm-input" ng-model="params['aggregateService.histApp']">
        </div>
      </div>
    </div>
  </div>
</div>