<div class="row">
  <label>Service parameters</label>
</div>

<div class="row">
  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">time field</label>
    <input type="text" class="form-control input-sm" id="timeFormat" value="{{timeField}}">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">time fmt</label>
    <input type="text" class="form-control input-sm" id="timeFormat" value="{{timeFormat}}">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">value fld</label>
    <input type="text" class="form-control input-sm" id="valueField" value="{{valueField}}">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">interval</label>
    <input type="text" class="form-control input-sm" id="granularity" value="{{granularity}}">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">groupby</label>
    <input type="text" class="form-control input-sm" id="groupby" value="{{groupby}}">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">threads</label>
    <input type="text" class="form-control input-sm" id="cpu" value="{{cpu}}">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">tasks</label>
    <input type="text" class="form-control" value="{{partition}}">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">timeout</label>
    <input type="text" class="form-control input-sm" value="{{timeout}}">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">hist size</label>
    <input type="text" class="form-control input-sm" id="histSize" value="{{histSize}}">
  </div>

  <div class="col-md-2" style="display: block;">
    <label class="rtm-label">hist app</label>
    <input type="text" class="form-control input-sm" id="histApp" value="{{histApp}}">
  </div>
</div>