
<div class="row">
    <div class="col-md-6 colcontain-grid" style="height: calc(40vh - 40px); overflow-y: auto; display: block; text-align: left; padding-left: 40px; padding-right: 40px;">
        <label class="col-md-12" style="background-color: #337AB7; color: white; text-align: center;">Measurement selectors</label>
        <div class="row" style="padding-left: 5px; padding-right: 10px; margin-left: 5px; margin-right: 10px; margin-top: 20px;">
            <div class="btn-group viz-btn-group form-radio" style="margin-top: 20px;">
                <button class="btn btn-warning viz-btn-success" ng-click="addSelector()">Add Selector</button>
                <button class="btn btn-danger viz-btn-success" ng-click="clearAll()">Clear All</button>
                <button class="btn btn-success viz-btn-success" ng-click="$emit('broadcastQueryFire')" uib-tooltip="Fire query"
                    tooltip-placement="bottom">
                    <span style="padding: 0; margin: 0; font-size: 10px !important;"
                        class="glyphicon glyphicon-flash glyphicon-app"></span>Search
                </button>
            </div>
        </div>

        <div class="row" style="margin: 5px; padding: 5px;">
            <div class="col-md-12" ng-repeat="selector in payload.selectors1"
                style="display: block">
                <!--  style="position: absolute; top: 10px; right: 0px;" -->
                <rtm-selector textfilters="selector.textFilters" numericalfilters="selector.numericalFilters" />
                <span class="btn-group-xs"  style="position: absolute; right: 0; top: 5px;">
                    <button type="submit" class="btn btn-danger viz-btn-success" ng-click="removeSelector($index)">
                        <span style="padding: 0; margin: 0; font-size: 10px !important;"
                            class="glyphicon glyphicon-remove glyphicon-app"></span></button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-6 colcontain-grid" style="height: calc(40vh - 40px); overflow-y: auto; display: block; padding-left: 40px; padding-right: 40px;">
        <label class="col-md-12" style="background-color: #337AB7; color: white; text-align: center;">Service Parameters</label>
        <rtm-service-params params="payload.serviceParams" query="query" style="padding: 10px; margin: 10px">
    </div>
</div>